openapi: 3.1.0
info:
  title: CAST AI Kubernetes Cost Optimization AI Enabler Allocation Groups API
  description: CAST AI is a Kubernetes cost optimization platform that provides APIs for managing clusters, autoscaling, node configuration, workload optimization, cost reporting, security insights, and more. The platform continuously monitors clusters and optimizes them for cost efficiency using autoscaling, spot instance automation, bin packing, and other techniques.
  version: 1.0.0
  contact:
    name: CAST AI
    url: https://cast.ai
  termsOfService: https://cast.ai/terms-of-service
servers:
- url: https://api.cast.ai/v1
  description: CAST AI Production API
security:
- ApiKeyAuth: []
tags:
- name: Allocation Groups
  description: Manage allocation groups and view efficiency metrics for grouped workloads.
paths:
  /allocation-groups/{allocationGroupId}/workloads/efficiency:
    get:
      operationId: AllocationGroupAPI_GetAllocationGroupWorkloadsEfficiency
      summary: CAST AI Get allocation group workloads efficiency
      description: Gets allocation group efficiency workloads.
      tags:
      - Allocation Groups
      parameters:
      - name: allocationGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with allocation group efficiency data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationGroupEfficiency'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed. Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    AllocationGroupEfficiency:
      type: object
      properties:
        allocationGroupId:
          type: string
        workloads:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              namespace:
                type: string
              cpuEfficiency:
                type: number
              memoryEfficiency:
                type: number
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Error code.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Create access keys from the CAST AI console under API > API access keys.
externalDocs:
  description: CAST AI API Documentation
  url: https://docs.cast.ai/docs/api
