openapi: 3.1.0
info:
  title: CAST AI Kubernetes Cost Optimization AI Enabler Autoscaler API
  description: CAST AI is a Kubernetes cost optimization platform that provides APIs for managing clusters, autoscaling, node configuration, workload optimization, cost reporting, security insights, and more. The platform continuously monitors clusters and optimizes them for cost efficiency using autoscaling, spot instance automation, bin packing, and other techniques.
  version: 1.0.0
  contact:
    name: CAST AI
    url: https://cast.ai
  termsOfService: https://cast.ai/terms-of-service
servers:
- url: https://api.cast.ai/v1
  description: CAST AI Production API
security:
- ApiKeyAuth: []
tags:
- name: Autoscaler
  description: Autoscaler operations including triggering rebalancing plans and managing cluster scaling behavior.
paths:
  /kubernetes/clusters/{clusterId}/rebalancing-plans/{rebalancingPlanId}/execute:
    post:
      operationId: AutoscalerAPI_ExecuteRebalancingPlan
      summary: CAST AI Trigger rebalancing plan
      description: Triggers and executes a rebalancing plan for the cluster.
      tags:
      - Autoscaler
      parameters:
      - $ref: '#/components/parameters/ClusterId'
      - name: rebalancingPlanId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Rebalancing plan execution triggered successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed. Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Error code.
  parameters:
    ClusterId:
      name: clusterId
      in: path
      required: true
      description: The unique identifier of the cluster.
      schema:
        type: string
        format: uuid
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Create access keys from the CAST AI console under API > API access keys.
externalDocs:
  description: CAST AI API Documentation
  url: https://docs.cast.ai/docs/api
